body {
    margin: 0;
}

.card {
    position: relative;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
}

#dealer {
    position:absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#player {
    position:absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%,-50%);
}