body {
    margin: 0;
}

input {
    width: 30px;
}

select, input{
    background-color: #F64C72;
}

button {
    border-radius: 5%;
    background-color: #2F2FA2;
    width: 100px;
    color: white;
}

button:hover {
    background-color: #F64C72;
}

.red, .black {
    font-size: 100px;
    margin: 0;
}

.red:hover , .black:hover{
    background-color: #FfACA2;
    cursor: pointer;
}

.red {
    color: red;
}

#selectSuit {
    position: absolute;
    padding: 0 10px;
    z-index: 20;
    left: 50%;
    top: 80%;
    border-radius: 3%;
    background-color: #242582;
    transform: translate(-50%, -50%);
}

#options {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2%;
    min-width: 430px;
    z-index: 25;
    border: 2px solid black;
    border-radius: 1%;
    color: white;
    background-color: #2F2FA2;
    transform: translate(-50%, -50%);
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
}

#discardDeck {
    position:absolute;
    left: 10%;
    transform: translate(-50%,-50%);
}

#drawDeck {
    position:absolute;
    left: 90%;
    transform: translate(-50%,-50%);
}

#player {
    --gridColumns: 6;
    position:absolute;
    width: auto;
    left: 50%;
    bottom:5%;
    transform: translate(-50%,0%);
    max-height: 200px;
    display: grid;
    grid-template-columns: repeat(var(--gridColumns),40px);
}

#player .card:hover {
    z-index: 20;
}

#computer1 {
    position:absolute;
    left: 0%;
    bottom: 50%;
    transform: translate(50%,50%);
}

#computer2 {
    position:absolute;
    left: 25%;
    top: 5%;
    transform: translate(-50%,0%);
}

#computer3 {
    position:absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0%);
}

#computer4 {
    position:absolute;
    left: 75%;
    top: 5%;
    transform: translate(-50%,0%);
}

#computer5 {
    position:absolute;
    right: 0%;
    bottom: 50%;
    transform: translate(-50%,50%);
}

#winningScreen {
    position: absolute;
    background-color: #D9B3CE;
    z-index: 100;
    border: 10px  double black;
    border-radius: 0%;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#error {
    color: red;
}

.circle {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,46%);
    width:40px;
    height:40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 150%;
    background-color: #D9B3CE;
    border: 5px solid #242582;
}

.card {
    position: relative;
    height: 200px;
    border: 1px solid black;
    border-radius: 5%;
}